* {
    padding: 0;
    margin: 0;
}

:root {

    /* Light Theme */
    --BrightBlue: hsl(220, 98%, 61%);
    --CheckBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);
    --VeryLightGray: hsl(0, 0%, 98%);
    --VeryGrayishBlue: hsl(236, 33%, 92%);
    --LightGrayishBlue: hsl(233, 11%, 84%);
    --DarkGrayishBlue: hsl(236, 9%, 61%);
    --VeryDarkGrayishBlue: hsl(235, 19%, 35%);

    /* Dark Theme */
    --VeryDarkBlue: hsl(235, 21%, 11%)
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%)
    --LightGrayishBlue: hsl(234, 39%, 85%)
    --LightGrayishBlue (hover): hsl(236, 33%, 92%)
    --DarkGrayishBlue: hsl(234, 11%, 52%)
    --Very DarkGrayishBlue: hsl(233, 14%, 35%)
    --Very DarkGrayishBlue: hsl(237, 14%, 26%)
}

.header-container {
    width: 100%;
    height: 30vh;
    background-image: url('../images/bg-mobile-dark.jpg');
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-container__title {
    color: white;
    font-family: 'Josefin Sans';
}

.icon {
    font-size: 20px;
}